body{  
    margin: 1px;
    background-color: silver;
}
p{
    font-size: 20px;
    font-family: 'Tahoma', cursive;
    font-size: 20px;
}
h1{
    color: blue;
    font-size: 50px;
    text-align: center;
    position: relative;
    font-family: 'Arial', cursive;
}

h2{
    color: red;
    font-size: 30px;
}

h3{
    color: orange;
    font-size: 30px;
}

.profile{
    height: 250px;
    width: 250px;
    position: absolute;
    right: 250px;
    top: 0px;

}
.one{
    width: 150px; 
    height: 200px;
    left: 10px;
}
.two{
    width: 150px; 
    height: 200px;
    left: 170px;
}
.three{
    width: 150px; 
    height: 200px;
    left: 330px;
}
.four{
    width: 150px; 
    height: 200px;
    left: 500px;
}
.five{
    width: 150px; 
    height: 200px;
    left: 670px;
}

.top{
    background-color: #8ac4d0;
    text-align: left;
    border: 10px;
}

.middle{
    background-color: #8ac4d0;
    text-align: left;
    border: 10px;
    
}

.bottom{
    background-color: #8ac4d0;
    text-align: left;
    border: 10px;

    

}