#logo {
    position: absolute;
    right: 39%;
    margin-left: -136px;

}

#head_top {
    padding: 25px 15px;
    text-align: right;    

}

.top_link {
    text-decoration: none;
    color: black;
    margin-right: 10px;
    padding:10px 10px ;
}

#sbox{
    position: absolute;
    width: 584px;
    height: 38px;
    border-color: black;
    border-width: 2px;
    left: 50%;
    margin-left: 30px;
    margin-top: 100px;
}

#searchbox{
    position: absolute;
    background-color: rgb(236, 234, 234);
    background-size: 20px;
    top: 200px;
    left: 200px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    height: 36px;
    padding-left: 16px;
    padding-right: 16px;
}

#feelingluck{
    position: absolute;
    background-color: rgb(236, 234, 234);
    background-size: 20px;
    top: 200px;
    right: 200px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;

    font-size: 20px;
    height: 36px;

}